<h1 class="label">{{countryCode}}</h1>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <mat-label class="label"></mat-label><br>
      <ng-container matColumnDef="domains">
          <th mat-header-cell *matHeaderCellDef>Domains</th>
          <td mat-cell class='data' *matCellDef="let element"> {{element.domains}} </td>
      </ng-container>
      <!-- University Name Column -->
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> University Name </th>
          <td mat-cell class='data' *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Website Column -->
      <ng-container matColumnDef="web_pages">
          <th mat-header-cell *matHeaderCellDef> Website </th>
          <td mat-cell class='data' *matCellDef="let element">
              <a mat-raised-button routerLink='{{element.web_pages}}' color="primary">
                {{element.name}}
              </a>
          </td>
      </ng-container>
      <!-- displayed Columns -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class='data' *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<!-- Pagination -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of universities">
</mat-paginator>
</div>
