
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .label{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .btn{
    font-family: 'Poppins', sans-serif;
  }
  .input{
    font-family: 'Poppins', sans-serif;
  }